@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this rule to your global styles or specific component */
body {
    margin: 0;
    padding: 0;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  
  /* If the user prefers light mode, 
  we still enforce color-scheme: dark, despite the user preference */
  @media (prefers-color-scheme: light) {
    html {
      color-scheme: dark;
    }
  }