@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this rule to your global styles or specific component */
body {
    margin: 0;
    padding: 0;
  }

  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }
  
  /* If the user prefers light mode, 
  we still enforce color-scheme: dark, despite the user preference */
  @media (prefers-color-scheme: light) {
    html {
      color-scheme: dark;
    }
  }
/* styles.css (or wherever you manage your global styles) */

/* Custom scrollbar for webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a5568; /* Adjust the color as needed */
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background-color: #15171A; /* Adjust the color as needed */
  border-radius: 8px;
}

/* Custom scrollbar for Firefox */
/* Note: These styles may not be as customizable as webkit browsers */
/* Adjust the colors as needed */
body {
  scrollbar-color: #4a5568 #2d3748;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 8px;
}

body::-webkit-scrollbar-track {
  background-color: #2d3748;
  border-radius: 8px;
}
